<div class="slider overflow-hidden w-full relative text-center">
  <div class="slide_container flex flex-nowrap overflow-scroll scroll-smooth flex-row transition-all">
    
    {%- for block in section.blocks -%}
      {%- if block.settings.image -%}
        {{
          block.settings.image
          | image_url: width: 3840
          | image_tag: loading: 'lazy', class: "w-auto slide shrink-0 object-cover"
        }}
      {% endif %}

      <div class="grid grid-cols-3 grid-rows-3">
        {%- if block.settings.header -%}
          <h2 class="bg-gray-200 text-slate-700
           {%-liquid 
            assign box_align = ""
             case block.settings.box_align
              when 'top-left'
                assign box_align = "col-start-1 col-end-2 row-start-1 row-end-2"
              when 'top-center' 
                assign box_align = "col-start-2 col-end-3 row-start-1 row-end-2"
              when 'top-right' 
                assign box_align = "col-start-3 col-end-4 row-start-1 row-end-2"
               when 'center-left' 
                assign box_align = "col-start-1 col-end-2 row-start-2 row-end-3"
               when 'center-center' 
                assign box_align = "col-start-2 col-end-3 row-start-2 row-end-3"
               when 'center-right' 
                assign box_align = "col-start-3 col-end-4 row-start-2 row-end-3"
               when 'bottom-left' 
                assign box_align = "col-start-1 col-end-2 row-start-3 row-end-4"
               when 'bottom-center' 
                assign box_align = "col-start-2 col-end-3 row-start-3 row-end-4"
               when 'bottom-right' 
                assign box_align = "col-start-3 col-end-4 row-start-3 row-end-4"
               else 

             endcase 
        -%}
        {{box_align}}">{{block.settings.header}}</h2>
        {%- endif -%}
        
      </div>
    {%- endfor -%}
  </div>

  {%- if section.settings.show_dots -%}
    <div class="dots absolute my-2 top-0 w-full gap-4 flex flex-row justify-center items-center">
    {%- for block in section.blocks -%}
        <button class="{%- if forloop.first -%} bg-blue-200 {% endif %} rounded-full w-3 h-3 block border-blue-200 border-solid border-2"></button>
    {%- endfor -%}
    </div>
  {%- endif -%}

    <div class="controls bottom-0 mx-auto absolute flex items-center text-blue-200 flex-row justify-between w-full gap-4 mb-2">

      {%- if section.settings.show_arrows -%}
        <button id="slider_prev" class="w-10 p-2 rotate-90 hover:text-blue-400 transition-colors">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </button>
      {%- endif -%}

      {%- if section.settings.show_play == true -%}
        <button id="slider_pause" class="w-10 {% if section.settings.autoplay %} pause {% else section.settings.autoplay == false %} play {% endif %} p-2 hover:text-blue-400 transition-colors">
          {{- 'icon-play.svg' | inline_asset_content -}}
          {{- 'icon-pause.svg' | inline_asset_content -}}
        </button>
      {%- endif -%}

      {%- if section.settings.show_arrows -%}
        <button id="slider_next" class="w-10 p-2 rotate-[-90deg] hover:text-blue-400 transition-colors">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </button>
      {%- endif -%}
    </div>
</div>


<script>
  const slider = {
    slidesContainer: document.querySelector(".slide_container"),
    current: 1,
    count: document.querySelectorAll(".slide").length,
    autoplay: true,
    timer: 3000,
    interval: null,
    playBtn: document.getElementById("slider_pause"),
    dotsContainer: document.querySelectorAll(".dots"),
    dots: document.querySelectorAll(".dots > button"),
    touchstartX: 0,
    touchendX: 0,
    init: function (options) {
      this.slidesContainer =
        options.container ?? document.querySelector(".slide_container");
      this.current = options.current ?? 1;
      this.count = options.count ?? document.querySelectorAll(".slide").length;
      this.autoplay = options.autoplay ?? true;
      console.log(options.timer);
      this.timer = options.timer ?? 3000;

      this.addEvents();

      if (this.autoplay) {
        this.play();
      }
    },
    addEvents: function () {
      const next = document.querySelector("#slider_next");
      if (next) {
        next.addEventListener("click", () => this.next());
      }

      const prev = document.querySelector("#slider_prev");
      if (prev) {
        prev.addEventListener("click", () => this.prev());
      }

      const pause = document.querySelector("#slider_pause");
      if (pause) {
        pause.addEventListener("click", () => {
          if (!this.interval) {
            this.play();
          } else {
            this.pause();
          }
        });
      }

      if (this.dots) {
        this.dots.forEach((item, x) => {
          item.addEventListener("click", () => this.dotClick(x));
        });
      }

      this.slidesContainer.addEventListener("touchstart", (e) => {
        this.touchstartX = e.changedTouches[0].screenX;
      });

      this.slidesContainer.addEventListener("touchend", (e) => {
        this.touchendX = e.changedTouches[0].screenX;
        if (this.touchstartX > this.touchendX) {
          // swipe right
          this.next();
        }
        if (this.touchstartX < this.touchendX) {
          // swipe left
          this.prev();
        }
        this.touchstartX = this.touchendX = 0;
      });
    },
    dotClick: function (index) {
      let i = index + 1;
      if(this.dots.length > 0) {
        if (!this.dots.item(index).classList.contains("bg-blue-200")) {
          this.dots.forEach((item) => {
            item.classList.remove("bg-blue-200");
          });
          this.dots.item(index).classList.add("bg-blue-200");

        }
      }
      if (i > this.current) {
        this.slidesContainer.scrollLeft +=
          this.slidesContainer.clientWidth * (i - this.current);
      }
      if (i < this.current) {
        this.slidesContainer.scrollLeft -=
          this.slidesContainer.clientWidth * (this.current - i);
      }
      this.current = i;
    },
    next: function () {
      if (this.current >= this.count) {
        this.dotClick(0);
      } else {
        this.dotClick(this.current);
      }
    },
    prev: function () {
      if (this.current <= 1) {
        this.dotClick(this.count - 1);
      } else {
        this.dotClick(this.current - 2);
      }
    },
    pause: function () {
      clearInterval(this.interval);
      this.interval = null;
      if(this.playBtn) {
        this.playBtn.classList.add("play");
        this.playBtn.classList.remove("pause");
      }
    },
    play: function () {
      this.interval = setInterval(() => this.next(), this.timer);
      if(this.playBtn) {
        this.playBtn.classList.add("pause");
        this.playBtn.classList.remove("play");
      }
    },
  };

  slider.init({timer: {{ section.settings.delay}}});
</script>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay slideshow",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_play",
      "label": "Show play/pause button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show dots (slide selection)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show previous/next arrows",
      "default": false
    },
    {
      "type": "text",
      "id": "delay",
      "label": "Slide transition delay (in ms)",
      "default": "3000"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
          "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
      ]
    }
  ],
}
{% endschema %}
